/*body div.backdrop p {
	color: #effafa ;
}*/

body div.jumbotron {
	background: #8c8c8c url("nextbook.jpg") repeat right top;
	color: black;
  border-top: 20px;
  border-bottom: 20px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #730279;

}

#content {
  background: #8c8c8c url("nextbook2.jpg") repeat right top;
  color: black;
  border-top: 5px;
  border-bottom: 5px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #730279;
}


.userpic{
  border: 2px;
  border-color: black;
  border-style: solid;
}

.username {
  font-weight: bold;
}
body div.jumbotron p {
	color: black;
  font-weight: bold;
}

#footer {
  height: 120px;
  background-color: #8c8c8c;
  color: white;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #730279;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}

.btn-lg {
	background: #730279;
	color: #effafa;
}

.col-md-2 {
  font-weight: bold;
}

.col-md-3 img {
  min-height: 100px;
  max-height: 100px;
}

/*.members {
  position: absolute;
  z-index: 100;
}*/

/*.getrec{
  border-bottom: 20px;
  border-style: solid;
  border-color: #730279;
}*/

.books img {
  min-height: 200px;
  max-height: 200px;
}

.item { width: 25%; 
}
.item.w2 { width: 100%; 
}

#error {
  color: red;
  font-weight: bold;
}




/*#content img.backdrop{
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 1414px;
  max-height: 1414px;
  max-width: 100%;
  z-index: 0;
}
*/

#panel {
  border: 5px;
  border-style: solid;
  border-color: #730279;
  
  
}
.purple{
  background: #730279;
  color: #effafa;
}

.list-group-item a:link{
  /*z-index: 3;
  position: relative;*/
  color: blue;
  text-decoration: underline;
  
}
.list-group-item a:visited{
  color: purple;
  text-decoration: underline;
  
}
.list-group-item a:hover{
  color: aqua;
  text-decoration: underline;
  
}
