<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "nextbook/main.css" %}">
<!-- Latest compiled and minified CSS -->
<script type="text/javascript" src="jquery-2.1.4.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block navbar %}
{% load staticfiles %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">NB</a>
      <!-- <img src= "{% static "nextbook/booklogo.jpg" %}" alt="booklogo"/> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'members:home' %}">My Groups<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="{% url 'myrec' %}">My Recommendations<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="{% url 'about' %}">About<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'members:signin' %}">Sign In</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
</head>

<body id = "main">
<div class = "backdrop">
  <div class="jumbotron">
    <h1>Welcome to NextBook!</h1>
    <p>Does your reading group need some inspiration when selecting their NextBook? We're here to help! All you need to get started is a goodreads account. If you belong to a group on goodreads, Sign Up! If not, go join one!</p>
    <p><a class="btn btn-lg" href="{% url 'members:signup' %}" role="button">Sign Up!</a>or <a class="btn btn-lg" href="{% url 'about' %}" role="button">Learn More!</a></p>
  </div>
<!-- <img alt="backdrop" src="{% static "nextbook/nextbook.jpg" %}"> -->
</div>

</body>

<div id="footer">
  <div class="container">
    <p class="text-muted">This app is powered by <a href="http://www.goodreads.com">goodreads.com</a></p>
    <p class="text-muted">Cover images provided by <a href="https://openlibrary.org/dev/docs/api/covers">Open Library</a></p>
  </div>
</div>

</html>
