{% extends "nextbook/base_site.html" %}
{% block content %}
{% load staticfiles %}

	<form action = "{% url 'members:create' %}" method = "post">{% csrf_token %}
		<p>Create a new NextBook account: </p>
		<div>Username:<br><input type = "text" name ='username'></div>
		<div>First Name:<br><input type = "text" name ='first_name'></div>
		<div>Last Name:<br><input type = "text" name ='last_name'></div>
		<div>Email:<br><input type = "text" name ='email'></div>
		<div>Password:<br><input type = "password" name ='password'></div>
		<br>
		We will need one piece of information to link with your goodreads account. You can find this information on your goodreads profile page.<br>
		<a href = 'https://www.goodreads.com'>Goodreads Home</a><br>
		<br>
		<div class="row">
        <div class="col-lg-3">
         <div class="input-group">
         <input type="text" class="form-control" placeholder="Enter Goodreads ID...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Join!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
		<p>(to locate your ID number, click 'My Books,' your ID is listed in the url after the word 'list')</p>
		
		<br>
		<br>
		**NextBook will only access data that is publicly available
	</form>
{% endblock %}