<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "nextbook/main.css" %}">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% block navbar %}
{% load staticfiles %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'main' %}">NB</a>
      <!-- <img src= "{% static "nextbook/booklogo.jpg" %}" alt="booklogo"/> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'members:home' %}">My Groups<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="{% url 'myrec' %}">My Recommendations<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text navbar-right">Signed in as <a href="{% url 'members:home' %}" class="navbar-link">{{user.first_name}}</a></p>
        <li><a href="{% url 'members:logout' %}">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
</head>

<body id = "backdrop">
<div id="content">
	{% block content %}
	{% endblock %}
</div>
<script src = "http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
<div id="footer">
  <div class="container">
    <p class="text-muted">This app is powered by <a href="http://www.goodreads.com">goodreads.com</a></p>
    <p class="text-muted">Cover images provided by <a href="https://openlibrary.org/dev/docs/api/covers">Open Library</a></p>
  </div>
</div>
</html>